@media only screen and (max-device-width: 480px) {
      .show-mobile {
        display: block;
        font-color: #ffffff;
      }
      .navbar{
        display: none;
      }
    }

@media only screen and (min-device-width: 481px) {
      .show-mobile {
        display: none;
      }
      .navbar {
        display: block;
      }
    }